module.exports = {
  "twitter_consumer_key" : "", // Provided by Twitter
  "twitter_consumer_secret" : "", // Provided by Twitter
  "twitter_access_token" : "", // Provided by Twitter
  "twitter_access_token_secret" : "", // Provided by Twitter
  "twitter_search_string" : "", // e.g "My Company Name" or "US Government"
  "twitter_author_blacklist" : [], // A list of Twitter handles, without the leading '@'
  "twitter_request_interval" : 1, // In minutes
  "twitter_max_tweets" : 6, // Maximum number of tweets to analyze each interval
  "mongo_url" : "", // Defaults to localhost
  "alchemy_access_key" : "" // Provided by Alchemy API
};
